.wrapper {
  background: white;

}

.main-content {
  width: 60%;
  margin: auto;
  border-radius: 3px solid red;
  padding:30px;
}

.wrapper h3{
  text-align: center;
  font-size: 54px;
  color: #1B1464;
  padding: 60px;
}

.blog-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.full-blog {
  width: 100%;
  margin-bottom: 50px;
}

.details {
    margin-bottom: 50px;
}
