.wrapper {
  background: white;
  font-family: Quicksand, sans-serif;
}

h3.title {
  margin:0;
  background: #9c88ff;
  color: white;
  text-align: center;
  font-size: 74;
  padding: 100px 0 100px 0;
}

.main-content {
  width: 60%;
  margin: auto;
  border-radius: 3px solid red;
  padding:30px;
}

.declare{
  text-align: center;
  font-size: 54px;
  color: #1B1464;
  padding: 60px;
}

.blog-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.full-blog {
  width: 100%;
  margin-bottom: 50px;
}

.details {
    margin-bottom: 50px;
}

@media(max-width: 480px) {

  .main-content {
    width: 100%;
    margin: auto;
    border-radius: 3px solid red;
    padding:10px;
  }


  .declare {
    font-size: 34px;
    padding: 10px;
    margin:0px;
  }

  .blog-item {
    width: 100%;
    border-radius: 10px;
    margin: 10px;
  }

}
