body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.land_banner img {
  width: 100%;
  height: 430px;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}


/*banner caption styling*/
.banner-caption{
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 20;
  max-width: 900px;
  margin-top: -100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 70px 30px 100px;
  border-radius: 20px;
  background-color: #431C53;
  box-shadow: 0 11px 17px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;

}

.banner-caption p {
  font-size: 24px;
  padding: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.banner-caption h3{
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.banner-caption h1 {
  padding: 0px;
  color: white;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 30px;  
  font-family: 'Open Sans', sans-serif;
}
/*End of Banner Section styling*/


/*Land info*/

.land_info {
  width: 100%;
  height: auto;
  box-shadow: 1px 2px 4px 1px #888888;
  border-radius: 10px;
}
.land_caption {
  width: 100%;
  height: auto;
}

.land_info img {
  width: 100%;
  background-size: cover;
  height: 340px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

.land_caption h2, p{
  font-weight: bold;
  text-align: center;
  margin: 5px;

}


.land_caption p {
  text-align: left;
  font-size: 18px;
  padding: 10px;
}

.land_details {
  padding: 10px;
}


/*Media Queries*/
@media (max-width: 768px) {
  .banner-caption {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 0px;
  }

    .banner-caption p {
    font-size: 18px;
  }

  .banner-caption h3{
    font-size: 22px;
    font-weight: bold;
  }

  .banner-caption h1 {
    font-size: 30px;  
  }

}
