{% extends 'base.html' %}

{% load static %}
{% load cloudinary %}


{% block content %}
<div class="banner_part">
  <div class="jumbotron home_banner">
    <!--  <h1 id="hero_text" class="text-center">Your All-In-One Platform for <br> Room Renting <br></h1> -->
      {% if user.is_authenticated %}

      {% else %}<p class="text-center"><a class="btn btn-primary get_started btn-lg" href="{% url 'accounts:register' %}" role="button">Get Started</a></p>
      {% endif %}
  </div>
</div>

	<!--
		==================================
		End of banner
	!-->


	<!--
		rooms
	-->
	<div class="container_content">
		<div class="row">

      {% for item in object_list %}

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="room_pic">
            <img src="{{ item.picture.image.url }}" alt = "Picture of a house">
          </div>

          <div class="text_caption">
        		<li><b>About: {{ item.about }} </b> </li>
            <li>Price: <b>{{ item.amount }} </b> </li>
            <li>Area: <b>{{ item.location }} </b> </li>
                <!--<p>
                  <a style="color:dodgerblue" href="{% url 'home:post_by_category' item.category.slug %}">Area: {{ item.category.name }}
                  </a>
                </p>-->
            <p>
              <a href="{% url 'home:details' item.pk %}" id="details" class="btn btn-primary" role="button">
                Details
              </a>
            </p>
          </div>
        </div>
      </div>

    {% endfor %}

</div>
	</div>



	<!--
		End of rooms
  !-->

<!-- PAGINATION -->
  <section id="pagination">

    <div class="pagination">

      {% if is_paginated %}
        <span>

          {% if page_obj.has_previous %}
            <a class="previous" href="{% url 'home:home' %}?page={{ page_obj.previous_page_number }}"> &laquo; Previous </a>
          {% endif %}

          <a class="current_page_num" > Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>

          {% if page_obj.has_next %}
          <a class="next" href="{% url 'home:home' %}?page={{ page_obj.next_page_number }}"> Next &raquo;</a>
          {% endif %}

        </span>

      {% endif %}


    </div>

  </section>

  <!--
    ==================================
    How it works
    ===================================
  !-->

  <div class="container how_it_works">
    <h1 class="text-center">How to Rent a Room</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail contact_info">
          <img class="how_it_works_imgs" src="{% static 'assets/selection.svg' %}" alt="contact us">
          <div class="contact_caption">
            <h2>Select a room</h2>
            <p>We help you get a room for rent <br> Browse through our database and select the room that best matches your requirements.We have a lot of rooms based on all areas in towns that we operate in.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail contact_info">
       <img class="how_it_works_imgs" src="{% static 'assets/commission.svg' %}" alt="Pay your commission">
          <div class="contact_caption">
            <h2>Commission</h2>
            <p>We take a Commission of 15% <br> After selecting the room that best matches your requirements, we take a commission of 15%. The 15% is calculated multiplying the amount of the room per month with the number of months you are renting for.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail contact_info">
        <img class="how_it_works_imgs" src="{% static 'assets/payment.svg' %}" alt="Pay your rent">
          <div class="contact_caption">
            <h2>Payment</h2>
            <p>You then pay your rent to the Landlord <br> At this stage, we take you to go see the room you are renting and introduce you to your new Landlord. After settling with your Landlord, you then move in immediately.
            </p>
          </div>
        </div>
      </div>

    </div>

</div>


<!--
==================================
End of How it works
===================================
!-->

<!--
==================================
Lands for sale
===================================
!-->


<div class=" container land_section">
    <h1 class="text-center">Land for Sale</h1>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail land_info">

          <div class="caption land_caption">
            <h2 class="land_location text-center">Garu Dabilla</h2>
               <div class="details_section">
                  <p> There is a vast land in Garu Dabilla just by the main road. It is by the main road thereby making it a suitable land for opening business stores or fueling stations. The Eastern Corridor road passes through Dabilla and this makes the land very suitable for setting up a fueling station since it is vast enough. A distance from Garu to Dabilla is a 10 minutes ride on moto and less by Car.
                  </p>
                    <div class="buy_btn">
                      <p><a href="{% url 'lands:lands' %}" id="details" class="btn btn-primary btn_styling" role="button">Buy</a></p>
                    </div>
                <img src="{% static 'assets/land1.jpg' %}" alt="land picture">
               </div>


          </div>
        </div>
      </div>


        <div class="col-sm-6 col-md-6">
          <div class="thumbnail land_info">
            <div class="caption land_caption">
              <h2 class="land_location text-center">Garu Tanleng</h2>
                  <div class="details_section">
                    <p> Garu Tanleng is a developing residential area in the Garu Township. This area has a lot for fertile land that people use for cultivating. The Garu Presbyterian School just adjacent to Garu CBR. The Prebyterian Church is also located in this Area. This is a walk away from the Max Filling Station. Also the distance from the land to Garu - Township is about 12 minutes walk and less by ride.</p>
                      <p><a href="{% url 'lands:lands' %}" id="details" class="btn btn-primary btn_styling" role="button">Buy</a></p>
                      <img src="{% static 'assets/land2.jpg' %}" alt="land picture">
               </div>

          </div>
        </div>
      </div>
    </div>
</div>
<!--
=================================================
Hotel Section
================================================
-->
<div class=" container hotel_section">
    <h1 class="text-center">Hotel for Rent</h1>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail hotel_info">
          <div class="caption hotel_caption">
            <h2 class="hotel_name text-center">Quality Guest House</h2>
                  <img src="{% static 'assets/qaulity.jpeg' %}" alt="contact us">
                   <div class="hotel_details">
                      <p>Quality Guest House, located at Garu Tanzug is the first Guest House in the Garu Township. It is walled and Gated and has parking spaces right outside of its entrance. It has 24/7 Security and the rooms are beautifully decorated. It houses a swimming pool in the middle of the Guest House.
                      </p>
                   </div>
                 <p><a href="{% url 'hotels:hotel' %}" id="details" class="btn btn-primary btn_styling" role="button">Book a room</a></p>
          </div>
        </div>
      </div>



        <div class="col-sm-6 col-md-6">
          <div class="thumbnail hotel_info">
            <div class="caption hotel_caption">
              <h2 class="hotel_name text-center">M.A Modern Guest House</h2>
                  <img src="{% static 'assets/ma.jpeg' %}" alt="contact us">

                  <div class="hotel_details">
                       <p>The M.A Modern Guest House is a cool Guest House idle for those seeking for a quite distination. The Guest house is a self contained building located at Garu Yapaala. The apartment is 5 minutes walk to Garu Y-junction and 7 minutes walk to the Garu Market Square. The Guest House is walled and Gated.There is a lot of parking spaces within its walls.
                      </p>
                   </div>

                 <p><a href="{% url 'hotels:hotel' %}" id="details" class="btn btn-primary btn_styling" role="button">Book a room</a>
          </div>
        </div>
      </div>

    </div>

</div>



<!--
=================================================
End of Guest House Section
================================================
-->
{% endblock %}
