{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">

<div class="wrapper">
  <div class="main-content">
    <div class="sidebar">
      <div class="categories">
        <h4><a href="{% url 'hotels:hotel' %}"> Hotels </a></h4>
        {% for item in category %}

        <li>{{ item.name }}</li>

        {% endfor %}
        <li>Mbang Guest House</li>
        <li>Quality Guest House</li>
        <li>Modern Guest House</li>
        <li>Green House</li>
        <li>ITC Guest House</li>
      </div>
    </div>

    <div class="column">

      {% for item in object_list %}

        <a href="{% url 'home:details' item.pk %}">
          <div class="property-box">
             <img src="{{ item.picture.url }}" alt = "Picture of a house">
              <div class="details">
                <p>{{ item.description }}</p>
                <p>{{ item.amount }}</p>
                <p>{{ item.location }}</p>
                <p><a style="color:dodgerblue" href="{% url 'home:post_by_category' item.category.slug %}">Area: {{ item.category.name }}</a></p>
                <p style="color:lightgrey">Posted on - {{ item.created|date:"F j, Y" }}</p>
              </div>
          </div>
        </a>

      {% endfor %}

    </div>

  </div>
</div>



<div class="pagination">

  {% if is_paginated %}
    <span>

      {% if page_obj.has_previous %}
        <a class="previous" href="{% url 'home:home' %}?page={{ page_obj.previous_page_number }}"> Previous </a>
      {% endif %}

      <span class="current_page_num" > Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

      {% if page_obj.has_next %}
      <a class="next" href="{% url 'home:home' %}?page={{ page_obj.next_page_number }}"> Next </a>
      {% endif %}

    </span>

  {% endif %}

</div>


{% endblock %}
