{% extends 'base.html' %}

{% load static %}
{% load cloudinary %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/house_detail.css' %}">

<div class="wrapper">
    <div class="main">
      <div class="hotel">
        <div class="heading">
          <h3>{{ house.amount }}</h3>
        </div>
        <div class="box">
          <img src="{{ house.picture.image.url }}" alt = "Picture of a house">
        </div>
        <div class="details">
          <h2> DESCRIPTION </h2>
          <p>{{ house.description }}</p>
          <p>Posted on - {{ item.created|date:"F j, Y" }}</p>
        </div>
      </div>
      <div class="more">
        <h2> MORE INFORMATION </h2>
        <p> {{ house.options }} </p>
        <p> <a style="color:dodgerblue" href="{% url 'home:post_by_category' house.category.slug %}">Find other apartments in {{ house.category.name }}</a></p>
      </div>
      <div class="list">
        <table>
          <h2> AMENITIES </h2>
          <tr class="grey">
            <td >
              <li>Number of Rooms available: {{ house.room_count }}
              </li>
            </td>
          </tr>
          <tr>
            <td>
              <li>Types of Rooms available: {{ house.types }} </li>
            </td>
          </tr>
          <tr class="grey">
            <td>
              <li> Options available: {{ house.options }} </li>
            </td>
          </tr>
          <tr>
            <td>
              <li> Category: {{ house.category }} </li>
            </td>
          </tr>
          <tr class="grey">
            <td>
              <li>This apartment is located at {{ house.location }} </li>
            </td>
          </tr>
        </table>
      </div>
    </div>


    <div class="sidebar">
      <h3>Contact</h3>
      <div class="contact_info">
      <p class="call"><a href="tel:+233547963492">Call 0547963492</a></p>
      <p class="call"><a href="tel:+233553727115">Call 0553727115</a></p>
        <p class="call"><a href="mailto:yapaala.info@gmail.com">Email</a></p>
      </div>
    </div>
  </div>

  <div class="main_contact">
    <div class="contact_info">
      <p class="call"><a href="tel:+233547963492">Call 0547963492</a></p>
      <p class="call"><a href="tel:+233553727115">Call 0553727115</a></p>
      <p class="call"><a href="mailto:yapaala.info@gmail.com">Email</a></p>
    </div>
  </div>

{% endblock %}
