{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/house_detail.css' %}">

<div class="wrapper">
    <div class="main">
      <div class="hotel">
        <div class="heading">
          <h3>{{ house.amount }}</h3>
        </div>
        <div class="box">
          <img src="{{ house.picture.url }}" alt = "Picture of a house">
        </div>
        <div class="details">
          <h2> DESCRIPTION </h2>
          <p>{{ house.description }}</p>
        </div>
      </div>
      <div class="more">
        <h2> MORE INFORMATION </h2>
        <p> {{ house.options }} </p>
        <p> <a style="color:dodgerblue" href="{% url 'home:post_by_category' house.category.slug %}">AREA: {{ house.category.name }}</a></p>
      </div>
      <div class="list">
        <table>
          <h2> AMENITIES </h2>
          <tr class="grey">
            <td >
              <li>Number of Rooms available: {{ house.room_count }}
              </li>
            </td>
          </tr>
          <tr>
            <td>
              <li>Types of Rooms available: {{ house.types }} </li>
            </td>
          </tr>
          <tr class="grey">
            <td>
              <li>Options available: {{ house.options }} </li>
            </td>
          </tr>
          <tr>
            <td>
              <li>Category: {{ house.category }} </li>
            </td>
          </tr>
          <tr class="grey">
            <td>
              <li> {{ house.location }} </li>
            </td>
          </tr>
        </table>
      </div>
    </div>


    <div class="sidebar">
      <h3>Contact</h3>
      <div class="contact">
         <button class="call"> Call </button> <br>
         <button class="whatsapp"><a href="mailto:yapaala@gmail.com">Whatsapp</a></button>
         <button class="message"><a href="mailto:yapaala.info@gmail.com">Email</a></button> <br>
    </div>
      </div>
  </div>

  <div class="main_contact">
        <div></div>
         <button class="call"><a href="05444293033">Call</a></button> <br>
         <button class="message"><a href="mailto:yapaala.info@gmail.com">Message</a></button> <br>
         <button class="whatsapp"><a href="mailto:yapaala@gmail.com">Whatsapp</a></button>
    </div>

{% endblock %}
