{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/master/authentication.css' %}">

<div class="auth-grid">
  <div class="auth-container">
    <h1 class="salutation" > Welcome to Yapaala !</h1>
    <div class="col-xs-12">
      {% if messages %}
      <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor%}
      {% endif %}
    </div>
    <div class="auth-forms">
        {% if form.errors %}
        <p>
        Your username or password is incorrect.
        Please try again.
        </p>
        {% else %}
        <p>Please, use the following form to log in:</p>
        {% endif %}
      <form class="login_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="auth-btn" type="submit" value="Login">
        <p> Don't have an account ? <a href="{% url 'accounts:register' %}"> Register Here </a> </p>
      </form>

    </div>

  </div>

</div>


{% endblock %}
