{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts/dashboard.css' %}">

<div class="about-dashboard">
  Welcome to your profile dashboard. Your dashboard is a gateway to the whole Yapaala
  Platform. Reach to the Artisans page,Lands buying page and Hotel Booking.
</div>

	<div class="dashboard">

		<div class="dash-sidebar">
			<div class="profile">
				<img src="{% static 'assets/dashboard/profile.png' %}">
				<p class="user-name">{{ user.username }}</p>
			</div>

			<div class="btns">
				<p class="artisan"> <a href="{% url 'artisans:artisans' %}"> Become an Artisan </a></p>
			</div>

			<div>
				<form class="logout_text" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="logout"> Logout </button>
          </form>
			</div>
		</div>


		<div class="dash-content">

				<a href="{% url 'hotels:hotel' %}"><div class="box">
					<img src="{% static 'assets/dashboard/pay rent.svg' %}">
					<h4>Book a Room</h4>
				</div></a>

				<a href="{% url 'artisans:artisans' %}"><div class="box">
					<img src="{% static 'assets/dashboard/find artisans.svg' %}">
					<h4>Find an Artisan</h4>
				</div></a>

				<a href="{% url 'lands:lands' %}"><div class="box">
					<img src="{% static 'assets/dashboard/read blog posts.svg' %}">
					<h4>Lands for Sale</h4>
				</div></a>

    </div>

    <hr/>


	</div>
	{% block artisans_ad %}

	{% endblock %}

{% endblock %}
