body {
  background: white;
}

.auth-container {
  padding: 30px;
}

.salutation {
  font-family: Raleway, Monsterrat, Arial,sans-serif;
  font-size: 70px;
  color: purple;
  text-align: center;
}

h3 {
  color: darkgrey;
  text-align: center;
  font-size: 34px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  padding: 3px;
}

.helptext,li {
  display: none;
}

.auth-forms {
  padding: 20px;
  border: 1px solid purple;
  border-radius: 4px;
  text-align: center;
  width: 30%;
  margin: auto;
  color: grey;
}

.auth-btn {
  padding: 10px;
  color:white;
  background: purple;
  width: 80%;
  border-radius: 10px;
}
