body {
  background: white;
  font-family: Quicksand, sans-serif;
}

/*
.auth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}
*/

label {
  display: block;
}

.salutation {
  font-size: 54px;
  color: purple;
  text-align: center;
}

h3 {
  color: darkgrey;
  text-align: center;
  font-size: 24px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  padding: 3px;
}

.helptext,li {
  display: none;
}

.auth-forms {
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  width: 30%;
  margin: auto;
  color: grey;
}

.auth-btn {
  padding: 10px;
  color:white;
  background: purple;
  width: 80%;
  border-radius: 10px;
}

@media(max-width: 480px) {

    .auth-btn {
      padding: 10px;
      color:white;
      background: purple;
      width: 80%;
      border-radius: 10px;
    }

    .auth-forms {
      padding: 20px;
      border-radius: 4px;
      text-align: center;
      width: 80%;
      margin: auto;
      color: grey;
    }

}