body {
  background: white;
  font-family: Quicksand, sans-serif;
}

figure {
  margin: 30px;
}

blockquote {
  color:grey;
  font-style: italic;
}
.text-container {
  width: 80%;
  margin: auto;
}

.p-container {
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 84px;
}

p {
  font-size: 22px;
  margin: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
