body {
  background: purple;
}

.container {
  width: 60%;
  margin: auto;
  background: white;
  padding: 0 20% 0 20%;
  border-radius: 6px;
}

.details {
  background: purple;
  padding: 10px;
  color:white;
  border-radius: 6px;
  text-align: center;
  width: 40%;
}

a {
  text-decoration:none;
  color:white;
}

img {
  width: 100%;
}
