body {
  font-family: Quicksand, sans-serif;
}

.column {
  columns: 4;
  width: 100%;
  /*
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 50%;
  */
}

p.amt {
  background: white;
  color: #431C53;
  font-weight: bold;
  font-size: 20px;
  margin: 3px;
}

.details {
  padding:10px;
}

.abt-property {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: grey;
}

p {
  margin:3px;
}

.property-box {
  border: 1px solid lightgrey;
  margin: 10px;
  border-radius: 6px;
}


.property-box img {
  width: 100%;
  height: 50%;
}

.column {
  padding: 20px;
}

li {
  list-style: none;
}

/*
.sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 30%;
  height: 90%;
  padding: 20px;
  color: #B8189A;
}

.categories h4{
  margin-bottom: 20px;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}

.categories li {
  list-style: none;
  padding-left: 10px;
  text-align: left;
  margin: 6px;
}

.categories {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.details {
  margin: 5px;
}

*/

@media(max-width: 480px) {

    .main-content{
      display: grid;
      grid-template-columns: 1fr;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .column {
      columns: 1;
    }

    .property-box li, h4{
      list-style: none;
      margin-bottom: 20px;
      padding-left: 10px;
      text-align: left;
  }

  .sidebar {
    width: 30%;
    display: none;

  }
}
