.wrapper {
	width: 80%;
	margin: auto;
	background-color: #fff;
}

.room {
	display: flex;
	padding: 10px;
	width:100%;
}

.room_picture img{
	/*width: 800px;
	height: 533px;*/
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.info {
	padding: 20px;
}

.num_rooms p span {
	padding: 8px;
	background-color: #B8189A;
	border-radius: 3px;
	color: #fff;
	margin: 5px;
}

.details {
	padding: 10px;
	background-color: #B8189A;
	border-radius: 3px;
	color: #fff;
	margin: 5px;
	font-size: 20px;
	text-align: center;
}

.loc { color:#B8189A; }
.num_rooms p{
	padding-bottom: 10px;
}

.info h2 {
	color: #B8189A;
	font-size: 20px;
}

hr {
	border-radius: 10px;
	height: 1px;
	border-color: #B8189A;
	background-color: #B8189A;
}


.empty {
	margin-top: 60px;
}

.row li, h3 {
	font-size: 16px;
}

.details li {
	font-size: 20px;
}

@media(max-width: 480px) {

	.wrapper {
		width: 100%;
		height: 100%;
	}

	.room_picture {
		width: 50%;
	}

	.info {
		width: 50%;
		margin: 0;
		padding-left: 10px;
	}

	.room {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.info h2 {
		color: purple;
		font-size: 16px;
	}

	.num_rooms h3 {
		display: flex;
	}
}

@media(max-width: 480px) {
	.main-content {
		width: 100%;
		display: block;

	}

	.footer li, h3 {
		list-style: none;
	}

	.footer .details li, h3{
		font-size: 14px;
		
	}

	.footer {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr; 
	}
} 