.wrapper {
	width: 80%;
	margin: auto;
	display: grid;
	margin-top: 20px;
	grid-template-columns: 60% 40%;
	column-gap: 40px;
	padding: 10px;
}

.hotel {
	margin-top: 10px;
	padding: 0;
}

.heading h3{
	font-size: 30px;
	padding: 10px;
	text-align: right;
	margin: 0;
}

.box img {
	width: 100%;
	height: 100%;
}

.details {
	background-color: #f2f5f6;
	margin: 0;
	padding: 10px;
	}

.more, .list {
	background-color: white;
	margin: 10px auto;
	padding: 10px;
}

.details li, .more, .list, h2 {
	list-style: none;
	color: grey;
}

.details h2, .list h2, .more h2 {
	font-size: 16px;
}
.main, .sidebar {
	background: white;
}

/*styling of sidebar*/
.sidebar {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	height: 50%;
}

.contact_info {
	margin-top: 10px;
	width: 100%;
	padding: 30px;
}

.box {
	padding: 30px;
}

.contact_info a{
	color: white;
}

.contact_info .call, .whatsapp, .message{
	text-align: center;
	color: white;
	background-color: #431C53;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	align-items: center;

}


.contact_info .call-num{
	text-align: center;
	color: #9c88ff;
/*	background-color: #9c88ff;*/
	font-size: 16px;
	padding: 5px;
	align-items: center;

}

.contact a {
	text-decoration: none;
	color: white;
}

.sidebar h3 {
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	margin: 10px;
}

.main_contact {
	width: 50%;
	display: none;
	margin: auto;
	border-radius: 6px;
}

.main_contact a {
	text-decoration: none;
	color: white;
}

table {
	width: 100%;
}

td {
	padding:10px;
}

.grey {
	background-color: #f2f5f6;
}

.main h2 { color: #B8189A; }

.empty {
	margin-top: 60px;
}
@media(max-width: 480px) {
	.wrapper{
	width: 100%;
	display: grid;
	grid-template-columns: 100%;

	}

	.main_contact {
	width: 100%;
	display: row;
}
	.sidebar {
		display: none;
	}
	.main_contact {
		width: 100%;
		display: flex;

	}
	.call, .message, .whatsapp {
	font-size: 16px;

}

}

/*@media(max-width: 8000px)  {
	.wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		margin: 0;
		padding: 0;
	}
	.sidebar {
		display: none;


	}
	content a {
		font-size: 50px;
	}
	header a {
	font-size: 60px;
}
	.grey {

	}
}
