  {% extends 'base.html' %}

  {% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/artisans/all.css' %}">

  <div class="all-artisans">

{% for artisan in artisan %}
  		<div class="col">
  				<div class="artisan-profile">
  					<img src="profile.png">
  					<h2>{{ artisan.name }}</h2>
  					<h3>{{ artisan.work }}</h3>
  					<p>Call:{{ artisan.Number }}</p>
            <p> Location: {{ artisan.location }}</p>
            <p> {{ artisan.description }}</p>
  			  </div>

  		</div>

{% endfor %}

	</div>
</body>
{% endblock%}
