body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

.about-dashboard {
 background: #431C53;
 color: white;
 font-size: 18px;
 padding:30px;
 border-radius: 4px;
 margin: 6px;
 width: 100%;
}

.dashboard {
	width: 100%;
	display: grid;
	grid-template-columns: 20% 80%;
}

.dash-sidebar {
	height: 100%;
	background-color: #431C53;
	padding: 20px;
}

.profile .user-name {
	color: white;
	font-size: 22px;
}

.artisan, .payment, .trxns{
	background-color: white;
	font-size: 20px;
	padding: 10px;
}


.dash-content {
	width: 100%;
}

.dash-content .box {
  float:left;
  width: 25%;
  border: 2px solid #431C53;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-left: 30px;

}

.dash-content .box img {
  width:100%;
  height: 100%;
}

.dash-details {
	margin: 10px;
	padding: 10px;
}

@media (max-width: 768px) {
	.dashboard {
	width: 100%;
	margin: 0px;
	grid-template-columns: 100%;
	}

.dash-sidebar {
	background-color: white;
}

.profile .user-name {
	text-align: center;
	color: purple;
	font-size: 24px;
}

.dash-content .box {
  display: block;
  width: 90%;
  margin: 10px;
  padding: 0;
  border: 2px solid purple;
  border-radius: 8px;
  text-align: center;
}

.dash-content{
	margin-top: 50px;
}
.dash-content .box img {
  width: 90%;
  height: 80px;
}

}
