{% extends 'base.html' %}

{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/blog/blog.css' %}" >

<div class="wrapper">

  <h3> The latest at Yapaala !</h3>

  <div class="main-content">

    <div class="blog-item">

      {% for post in posts %}

          <div class="property-box">
            <h2>{{ post.title }}</h2>
            <p><span style="color:grey"> Posted on - {{ post.created|date:"F j, Y" }} by </span>{{ post.writer }}</p>
             <img src="{{ post.blog_image.url }}" alt = "Picture for this blog post">
              <div class="details">
                <p>{{ post.body | truncatewords:50 }}</p>
                <a href="{% url 'blog:blog_detail' post.slug %}"> Read All..</a>
                <hr>
              </div>
          </div>

      {% endfor %}

    </div>

  </div>
</div>



{% endblock%}
