{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/master/master.css' %}">
<h1> become an author </h1>

<div class="commonSend">

  <form action="https://commonsend.herokuapp.com/api/v1.0/send_contact_form/key/"  methods="POST">
    <input type="text"  name="lookup"   hidden value="Fortunemens">
    <input type="text"  name="callback" hidden value="https://example.com/contact.html">
    <input type="text"  name="name"   required class="form-control" placeholder="Full Name" required>
    <input type="email" name="email"  required class="form-control" placeholder="Email Address" required>
    <input type="text"  name="phone"  required class="form-control" placeholder="Phone number">
    <textarea  type="text" name="message" required placeholder=" message"></textarea>
    <input  type="submit" value="Send">
  </form>

</div>
{% endblock %}
