{% extends 'base.html' %}

{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static '/css/blog/land.css' %}">

<!--Lands Banner -->
<div class="land_banner">  
  <img src="{% static 'assets/land1.jpg' %}">
</div>

<!-- End of Land Banner -->

<!-- Land Caption Description -->
<div class="banner-caption">
      <h1>All Lands</h1>
          <div class="caption_text">
              <h3>Looking for Land to Buy?</h3>
              <p>Yapaala has a database of several lands in Ghana. Browse through our 
              list of land available below and contact us to buy the land of your choice</p>
          </div>
    </div>

<!-- End of Land Caption Description -->

<div class=" container land_section">
  <h1 class="text-center"> Buy lands through Yapaala</h1>
    <div class="row">

{% for land in lands %}
            <div class="col-sm-6 col-md-6">
              <div class="thumbnail land_info">
                <div class="caption land_details">
                  <h2 class="land_name text-center">{{ land.title }}</h2>
                      <img src="{{ land.photo.image.url }}" alt = "Picture of this land">

                      <div class="land_details">
                           <p><span style="color:grey"> Posted on {{ land.created|date:"F j, Y" }} by </span>{{ land.seller }}</p>
                           <p>{{ land.body | truncatewords:10 }}</p>
                           <p class="text-center"> If you are interesting in this land Call <a href="tel:0547963492"> 0547963492 </a></p>
                       </div> 
              </div>
            </div>
          </div>
{% endfor %}

     </div>
    
  </div>

{% endblock %}
