footer {
  width: 100%;
  border-top: 12px solid purple;
  background-color: white;
  margin-top: 5%;
}

.footer {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  column-gap: 10px;
}

.footer h3 {
  text-align: center;
  font-size: 16px;
  color: dodgerblue;
  text-transform: uppercase;
}

.footer .details {
  background-color: white;
  padding: 0;
  margin: 0px;
}

.footer .details li {
  text-align: center;
  padding: 3px;
  font-size: 14px;
  list-style-type: none;
}
.footer .details a {
  text-decoration:none;
  color:#431C53;
}
.c {
  width: 80%;
  margin: auto;
  color:#431C53;
  margin-top: 20px;
  margin-bottom: none;
  padding-bottom: none;
}
@media(max-width: 480px) {
    .main-content {
    width: 100%;
    display: block;


  }
  .footer .details li, h3{
    font-size: 18px;
    padding: 2px;

  }

  .footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.f-headers {
  padding-top: 10px;
}
