.navbar-brand img {
	height: 3rem;
	position: absolute;
	top: 18px;	
}

.navbar-home {
	background-color: lightblue;
	border-radius: 0px;
	
}
.bg-dark {
    background-color: #431C53 !important;
}
.navbar-default {
    background-color: #6f0b69;
    border: none;
    color: white;
    margin: 0px;
    padding: 10px;   
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
}

ul {
	list-style-type: none;
}