#pagination {
	background: white;
	text-align: center;
	padding: 20px;
	margin: 10px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	float: left;
	padding: 10px;
	text-decoration: none;
	color: #431C53;
}


span a.current_page_num {
	background-color: #431C53;
	color: inherit;
	padding: 10px;
	border-radius: 5px;
	margin: 0 10px 0 10px;
}

.pagination a:hover {
	background-color:#431C53;
	color: white;
}

.previous {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.next {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
