{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title> Room Renting and Management Platform </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/base/headers.css' %}">
    <link rel="stylesheet" href="{% static '/css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static '/css/base/body.css' %}">
    <link rel="stylesheet" href="{% static '/css/base/pagination.css' %}">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Quicksand');
    </style>
  </head>

  <body>
  {% block headers %}
  <!--  FIRST NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <a class="navbar-brand" href="{% url 'home:home' %}"> www.yapaala.com </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">  Contact Us: +233 54 796 3492  </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="mailto:yapaala.info@gmail.com"> yapaala.info@gmail.com </a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <li class="nav-item active">
         <p> KENKEN <a href="#"> {{ user.username }}  </a> </p>
          <!--<a class="nav-link" href="{% url 'accounts:dashboard' %}"> Profile </a>-->
        </li>
          <form class="logout_text" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="logout"> Logout </button>
          </form>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:login' %}"> Login </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:register' %}"> Register </a>
          </li>
        {% endif %}
      </div>
    </nav>

  <!--  SECOND NAV BAR -->
  <header>
    <div class="snb_container">
      <div id="branding">
        <a href="{% url 'home:home' %}" ><img class="logo" src="{% static 'assets/yapaala logo.png' %}"></a>
      </div>
      <nav class="first">
        <ul><!--  We could put banner advertisements here.-->
          <li><a href="{% url 'home:home' %}"> Home </a></li>
          <li class="active"><a href="{% url 'home:all' %}"> All Areas </a></li>
        <!--  <li><a href="{% url 'hotels:hotel' %}"> Hotels </a></li>
          <li><a href="{% url 'blog:blog_home' %}"> Blog </a></li>
          <li><a href="{% url 'artisans:artisans_home' %}"> Artisans </a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'rental_pay:add_payment' %}"> Pay Rent </a></li>
          {% else %}
            <li><a href="{% url 'rental_pay:rental_pay' %}"> Pay Rent </a></li>
          {% endif %}-->
        </ul>
      </nav>
    </div>
  </header>

  <!--  THIRD NAV BAR
  <nav class="second">
      <ul>
        <li><a href="{% url 'home:home' %}"> Home </a></li>
        <li><a href="{% url 'home:comming_soon' %}"> For Rent </a></li>
        <li><a href="{% url 'home:home' %}"> For Sale </a></li>
        <li><a href="{% url 'home:comming_soon' %}"> Agents </a> </li>
        <li class="attn"><a href="{% url 'home:comming_soon' %}"> List Property </a></li>
      </ul>
  </nav>
-->

  {% endblock %}

  {% block title %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  <footer>
  	<div class="footer">
  		<div class="row1">
  			<h3 class="f-headers"> ABOUT US </h3>
  				<div class="details">
  					<li> <a href="{% url 'blog:mission' %}"> Our Mission </a> </li>
  					<li><a href="{% url 'blog:help_and_faq' %}"> Help and FAQ </a></li>
  					<li><a href="{% url 'blog:terms' %}"> Privacy, Terms &amp Refunds </a></li>
          <!--  <li><a href="#"> Team </a></li>-->
  				</div>
  		</div>
  		<div class="row2">
  			<h3 class="f-headers"> BLOG </h3>
  				<div class="details">
            <li>Coming Soon</li>
  					<!--<li> <a href="{% url 'blog:writing' %}"> Become an Author </a> </li>-->
  				</div>
  		</div>
  		<div class="row3">
  			<h3 class="f-headers"> ARTISANS </h3>
  				<div class="details">
            <li>Coming Soon</li>
  				<!--	<li> <a href="{% url 'artisans:artisans_home' %}"> Become an Artisan </a> </li>
  					<li> <a href="{% url 'artisans:all_artisans' %}"> Hire and Artisan </a> </li>
  					<li> <a href="{% url 'artisans:all_artisans' %}"></a> </li>-->
  				</div>
  		</div>
  		<div class="row4">
  			<h3 class="f-headers"> GET IN TOUCH </h3>
  				<div class="details">
            <li><a href="mailto:yapaala.info@gmail.com"> Yapaala.info@gmail.com </a></li>
  					<li><a href="https://www.facebook.com/Yapaala-797204670653430/?modal=admin_todo_tour" target="_blank"> Facebook </a></li>
  					<li><a href="#" target="_blank"> Instagram </a></li>
  					<li><a href="#" target="_blank"> Twitter </a></li>
  				</div>
  		</div>
  	</div>
    <div class="c">
      <p> &copy 2019 <a style="text-decoration:none;" href="https://www.facebook.com/Yapaala-797204670653430/?modal=admin_todo_tour" target="_blank"> Yapaala </a>. All Rights Reserved.</p>
      <p style="text-align:center; padding:30px 0 30px 0;"> <a style="text-decoration:none;" href="mailto:yapaala.info@gmail.com"> yapaala.info@gmail.com </a> </p>
    </div>
  </footer>
  {% endblock %}
  </body>
</html>
