{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title> Room Renting Platform </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{% static '/css/base/headers.css' %}">
    <link rel="stylesheet" href="{% static '/css/base/footer.css' %}">
    <link rel="stylesheet" href="{% static '/css/base/pagination.css' %}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  </head>

  {% block headers %}
	<!--<nav class="navbar navbar-default navbar-home">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home:home' %}">
          <img src="{% static 'assets/logo.png' %}">
        </a>
      </div>

     Collect the nav links, forms, and other content for toggling 
      <div class="collapse navbar-collapse" id="example-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home:all' %}">Rooms</a></li>
            <li><a href="{% url 'hotels:hotel' %}">Hotels</a></li>
            <li><a href="{% url 'artisans:artisans' %}">Artisans</a></li>
            <li><a href="{% url 'lands:lands' %}">Buy Land</a></li>
          </ul>
      </div>
    </div>
  </nav>-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <a class="navbar-brand" href="{% url 'home:home' %}"> www.yapaala.com </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'hotels:hotel' %}">Hotels</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'lands:lands' %}"> Buy Land </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'artisans:artisans' %}"> Artisans </a>
          </li>
        </ul>

        <ul>
          {% if user.is_authenticated %}
          <!--  <li class="nav-item active"> KENKEN </li> -->
          <li class="nav-item active"><a href="{% url 'accounts:dashboard' %}"> {{ user.username }}</a>
            <!--<a class="nav-link" href="{% url 'accounts:dashboard' %}"> Profile </a>-->
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:login' %}"> Login </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:register' %}"> Register </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

  {% endblock %}

  {% block title %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block artisans_ad %}
  <!-- Artisans ad -->
  <div class="jumbotron artisan_section">
    <h1 class="text-center">Looking for an Artisan?</h1>
    <p>Yapaala has a database of Artisans such as Painter, Plumber, Carpenter, Electrician, Satelite Disk installer, etc.
    </p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'artisans:artisans' %}" role="button">Click Here</a></p>
  </div>
  {% endblock %}

  {% block footer %}
  <footer>
  	<div class="footer">
  		<div class="row1">
  			<h3 class="f-headers"> ABOUT US </h3>
  				<div class="details">
  					<li> <a href="{% url 'lands:mission' %}"> Our Mission </a> </li>
  					<li><a href="{% url 'lands:help_and_faq' %}"> Help and FAQ </a></li>
  					<li><a href="{% url 'lands:terms' %}"> Privacy, Terms &amp Refunds </a></li>
  				</div>
  		</div>
  		<div class="row2">
  			<h3 class="f-headers"> LANDS </h3>
  				<div class="details">
            <li><a href="{% url 'lands:lands' %}">Buy Land</a></li>
  		
  				</div>
  		</div>
  		<div class="row3">
  			<h3 class="f-headers"> ARTISANS </h3>
  				<div class="details">
  				<li> <a href="{% url 'artisans:artisans' %}"> Become an Artisan </a> </li>
  					<li> <a href="{% url 'artisans:artisans' %}"> Hire and Artisan </a> </li>
  					<li> <a href="{% url 'artisans:artisans' %}"></a> </li>
  				</div>
  		</div>
  		<div class="row4">
  			<h3 class="f-headers"> GET IN TOUCH </h3>
  				<div class="details">
            <li><a href="mailto:yapaala.info@gmail.com"> Yapaala.info@gmail.com </a></li>
  					<li><a href="https://www.facebook.com/Yapaala-797204670653430/?modal=admin_todo_tour" target="_blank"> Facebook </a></li>
  					<li><a href="#" target="_blank"> Instagram </a></li>
  					<li><a href="#" target="_blank"> Twitter </a></li>
  				</div>
  		</div>
  	</div>
    <div class="c">
      <p> &copy 2020 <a style="text-decoration:none; color:#431C53;" href="https://www.facebook.com/Yapaala-797204670653430/?modal=admin_todo_tour" target="_blank"> Yapaala</a>. Made by CodeVision Hub </p>
    </div>
  </footer>
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
