{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/blog/blog.css' %}" >

<div class="wrapper">

  <h3 class="title"> Contact Us for More Enquiries</h3>

  <div class="main-content">

    <div class="blog-item">
      <h1>About Us:</h1>
      <p>Yapaala a subsidiary of CodeVision Hub is a Garu-based company, in the upper east region of Ghana</p>

      <h1>Location:</h1>
      <p>You can Locate us at adjacent Na-Laku Ventures inside the CodeVision Hub building just inside the main town</p>
    </div>

      <h1> Call Us:</h1>
      <h3> 054 796 3492</h3>
      <h3> 055 372 7115</h3>

  </div>
</div>



{% endblock %}
