{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/blog/blog.css' %}" >

<div class="wrapper">

  <h3 class="title"> Help and Frequently Asked Questions</h3>

  <div class="main-content">

    <div class="blog-item">
      <h1> How does Yapaala Work?</h1>

      <p> Yapaala is a platform to connects Property owners to Tenants.</p>
      <p> We constantly go round any of the towns in which we operate in, and populate the platform with
      houses with empty rooms made available for rent by the property owners.</p>

      <p> <strong>Property owners</strong>  can also give us a call (0553727115) to come and populate our platform with their
      properties or reach us at our office in the Garu township adjacent Na-Laku Enterprise</p>

      <p>To rent a room, all our users need to do, is to create an account for free and navigate through
      the houses, which are categorised by area and when they find what they want they can contact us and make
    a one time payment to us then we reach out to the property owner and reserve the room</p>

      <h3>Other Services</h3>
      <p> We are also are working on releasing these services very soon to our cherished users.</p>
      <p><strong>Hotel Booking:</strong> We are working with various hotels in the district to allow our users to
      be able to book hotel reservations directly on our platform. This feature will be released soon if all things
    go as planned. We already have Quality Guest House listed and we are hoping that the rest will join soon.</p>

    <p><strong>Artisans:</strong> Our Artisans service provides our users with services of artisans such us
    painters, masons, room decorators, electricians etc by allowing these artisans to create profiles showing
  what they do and their contact details.
  Our users can just log in and browse through and make a selection on the go cheap cheap.</p>

  <p><strong>Blogging:</strong> We are also creating a blog where we will write and publish meaninful content
  on how to decorate your room, how to get rental discounts and where to get cheap rents and a lot of other cool stuffs.</p>

    </div>

  </div>

</div>
{% endblock %}
