{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/blog/blog.css' %}" >

<div class="wrapper">

  <h3 class="title"> Our  Mission </h3>

  <div class="main-content">

    <div class="blog-item">


      <p> We are striving to be your all-inclusive solution to all your real estate activities and problems.</p>
      <p> We strive to bring you all services you use day to day and an individual.</p>
      <p> Real estate is part of every individual's life whether you are a broker
      or a Realtor all the way to the average individual that is looking for an apartment
      to stay in for a short period of time or longer</p>
      <p> We created Yapaala, to first of all give you access to an ever growing database
      of houses in the country that have empty rooms.
      </p>
      <p> With this power, you only need a few clicks on your mobile phone and you
      can get an apartment to rent.</p>
      <p> We do not just stop there but we provide you with many other services.</p>

    </div>

  </div>
</div>

{% endblock %}
