{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/blog/blog.css' %}" >

<div class="wrapper">

  <h3 class="title"> Terms and Conditions </h3>

  <div class="main-content">

    <div class="blog-item">
      <p>We only take a commission of GHC10 for helping you get a room. <strong>NOTE:By no means is that added to your rent.</strong></p>
      <p>Before we list a property on our platform, the price has already being set and we cannot reduce it.
      We try our best to bargain the price for sake of our customers. We care about you.</p>

      <p> Payment made is not refundable</p>

      <p>One of our problems is keeping track of all the rooms of the platform as some Property owners
      sometimes rent our listed properties without telling us to update the property.</p>

      <p> We cannot move you to a different house if you make your choice only to reach there have a fight
      with your Landlord/Lady. To relocate in that case, you would need to choose another property and make a payment.</p>

      <p> Please try your best not to have a problem with your Landlord/Lady as settling disputes is not part of our business</p>
    </div>
  </div>
</div>



{% endblock %}
