{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/hotel_details_new.css' %}">

	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--
		BANNER CODE
	!-->
	<div id="slide-banner">
		<figure>
			<img src="{{ hotel.banner.url }}">
			<img src="{{ hotel.banner.url }}">
			<img src="{{ hotel.banner.url }}">
			<img src="{{ hotel.banner.url }}">
			<img src="{{ hotel.banner.url }}">
		</figure>
	</div>
	<div class="banner-discrip">
		<div class="descrip-info">
			<ul>
				<li class="left-float">{{ hotel.name }}</li>
				<li class="right-float">FOR RENT</li>
			</ul>
		</div>

	</div>


	<div class="empty-space"></div>
	<!--
		END OF BANNER CODE
	!-->





	<!--
		CODE OF OVERAL CONTENT
	!-->


<div class="overal-content">


	<!--
		CODE OF CONTENT-GRID
	!-->

<div class="content-grid">
		<div class="left-grid">
			<figure>
				<img src="{{ hotel.banner.url }}">
				<img src="{{ hotel.banner.url }}">
				<img src="{{ hotel.banner.url }}">
				<img src="{{ hotel.banner.url }}">
				<img src="{{ hotel.banner.url }}">
			</figure>
		</div>

		<div class="empty">

		</div>

		<div class="right-grid">
			<div class="right-details">
				<h1>About Agent</h1>
				<img src="dreamer.jpg">
				<h2>{{ hotel.realtor.first_name }} {{ hotel.realtor.second_name }}</h2>
				<p>{{ hotel.realtor.telephone }}</p>
				<p>{{ hotel.realtor.email }}</p>
				<p>{{ hotel.realtor.website }}</p>
			</div>
		</div>
	</div>

	<!--
		END OF CONTENT-GRID CODE
	!-->




	<!--
		CODE OF CONTENT-GRID
	!-->

	<div class="main-grid">
		<div class="left-descrip">
			<h3 class="title-descrip">Description</h3>
			<div class="row">
				<div class="column1">
					<i class="fa fa-map-marker" style="font-size:50px; aria-hidden="true"></i>
					<strong>Area</strong>
					<p class="list-1">Garu-Tanzug</p>
				</div>


				<div class="column1">
					<i class="fa fa-bed" style="font-size:50px; aria-hidden="true"></i>
					<strong>Beds</strong>
					<p class="list-2"> {{ hotel.rooms_count  }}</p>
				</div>


				<div class="column1">
					<i class="fa fa-bath" style="font-size:50px; aria-hidden="true"></i>
					<strong>Baths</strong>
					<p class="list-3"> {{ hotel.shower  }}</p>
				</div>

			</div>

			<div class="row">
				<div class="column1">
					<i class="fa fa-home" style="font-size:50px; aria-hidden="true"></i>
					<strong>Room</strong>
					<p class="list-1"> {{ hotel.rooms_count  }}</p>
				</div>


				<div class="column1">
					<i class="fa fa-television" style="font-size:50px; aria-hidden="true"></i>
					<strong>Television</strong>
					<p class="list-2">10</p>
				</div>


				<div class="column1">
					<i class="fa fa-car" style="font-size:50px; aria-hidden="true"></i>
					<strong>Garage</strong>
					<p class="list-3"> {{ hotel.parking_space  }}</p>
				</div>



			</div>
			<div class="text-descrip">
					{{ hotel.description }}
				</div>

		</div>




			<div class="empty">

			</div>

		<div class="right-descrip">

		</div>
	</div>

	<!--
		END OF CONTENT-GRID CODE
	!-->


	<!--
		CODE OF FEATURES-GRID CODE
	!-->
	<div class="features-grid">
		<div class="left-features">
				<h1>Features</h1>
				<div class="row1">
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Water Supply</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Refrigerator</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Stanby Generators</strong>
					</div>

				</div>


				<div class="row1">
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Airconditioners</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong> Hot water Avalability </strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Swimming pool</strong>
					</div>

				</div>


				<div class="row1">
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Dstv Reception</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Security day & night</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Cook yourself</strong>
					</div>

				</div>


				<div class="row1">
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>kitchen</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Security light</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Shower avability</strong>
					</div>

				</div>




			</div>

		<div class="empty"></div>

		<div class="right-features"></div>
	</div>




	<!--
	END OF FEATURES-GRID CODE
	!-->





	<!--
	LOCATION GRID-CODE
	!-->
	<div class="location-grid">
		<div class="left-location">
				<h1>LOCATION</h1>
				<div class="loc-details">
					<h3>{{ hotel.location }}</h3>
					<h3>{{ hotel.location }}</h3>
					<h3>{{ hotel.location }}</h3>
				</div>


				<div class="map">

				</div>
			</div>

		<div class="empty"></div>

		<div class="right-features"></div>
	</div>




	<!--
	END OF LOCATION GRID-CODE
	!-->



	<!--
	VIDEO GRID-CODE
	!-->


		<div class="video-grid">
		<div class="left-video">
				<h1>Video</h1>
				<div class="video-details">
					<img src="video.jpg">
				</div>


				<div class="map">

				</div>
			</div>

		<div class="empty"></div>

		<div class="right-features"></div>
	</div>


<!--
Review-grid Code
!-->

<div class="review-grid">
		<div class="left-review">
				<h1>REVIEWS</h1>
				<div class="reviews">
					<div class="review-img">
						<img src="dreamer.jpg">
						<h5>Muniru Dreamer</h5>
					</div>
					<div class="reviews-text">
						<p>Mbang guest house is the best that offer good and quality services
						And thanks to yapaala for making hotel booking much more convience and easy</p>
					</div>
				</div>

				<div class="reviews">
					<div class="review-img">
						<img src="dreamer.jpg">
						<h5>Muniru Dreamer</h5>
					</div>
					<div class="reviews-text">
						<p>Mbang guest house is the best that offer good and quality services
						And thanks to yapaala for making hotel booking much more convience and easy</p>
					</div>
				</div>

			</div>

		<div class="empty"></div>

		<div class="right-features"></div>
	</div>
	<!--
	End of Review-grid Code
	!-->


	<!--
	Code of Review-grid form
	!-->
		<div class="form-grid">
		<div class="left-form">
			<h1>Leave a Review</h1>
			<div class="form">
				<input type="text"  class="username" name="username" placeholder="Your Name" required="">
				<input type="text" class="email" name="email" placeholder="Your Email" required="">


				<div class="textarea-form">
					<h2>Review</h2>
					<textarea class="textarea"></textarea>   <br>
					<a href="submit" class="submit">Submit</a>
				</div>
			</div>



			</div>

		<div class="empty"></div>

		<div class="right-features"></div>
	</div>

</div>

{% endblock %}
