{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static '/css/hotel_details.css' %}">

<div class="overal_section">

<div class="first_section">
		<div class="left-grid">
			<img src="{{ hotel.banner.image.url }}">
		</div>

		<div class="right-grid">
			<div class="right-details">
				<h1>About Agent</h1>
				<img src="{{ hotel.manager.photo.image.url }}">
				<h2>{{ hotel.manager.first_name }} {{ hotel.manager.second_name }}</h2>
				<p>{{ hotel.manager.telephone }}</p>
				<p>{{ hotel.manager.email }}</p>
				<p>{{ hotel.manager.website }}</p>
			</div>
		</div>
	</div>

	<div class="second_section">
		<div class="left-descrip">
			<h3 class="title-descrip">Description</h3>
			<h1> {{ hotel.name }} </h1>
			<div class="row">

			</div>

			
			<div class="text-descrip">
					<p> {{ hotel.description }} </p>

				</div>
				<div class="description_caption">
					<p class="location"><i class="fa fa-map-marker" style="font-size:50px; aria-hidden="true"></i>Location: {{ hotel.location  }}</p>
					<p class="room_count"><i class="fa fa-bed" style="font-size:50px; aria-hidden="true"></i>Number of Rooms: {{ hotel.rooms  }}</p>
					<p class="parking_space"><i class="fa fa-car" style="font-size:50px; aria-hidden="true"></i>Parking Space: {{ hotel.parking }}</p>
					<p class="shower"><i class="fa fa-bath" style="font-size:50px; aria-hidden="true"></i>Rate: {{ hotel.rate  }}/Night</p>
				</div>

		</div>

			<div class="empty">
				
			</div>

		<div class="right-descrip">
			
		</div>
	</div>


	<div class="features-grid">
		<div class="left-features">
				<h1>Features</h1>
				<div class="row1">
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Water Supply</strong>
					</div>

					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Refrigerator</strong>
					</div>

				</div>

				
				<div class="row1">
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Airconditioners</strong>
					</div>

					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong> Hot water Avalability </strong>
					</div>

				</div>


				<div class="row1">
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Dstv Reception</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Security day & night</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Cook yourself</strong>
					</div>

				</div>


				<div class="row1">
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>kitchen</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Security light</strong>
					</div>
					<div class="col-row">
						<i class="fa fa-check-square" style="font-size:30px; aria-hidden="true"></i>
						<strong>Shower avability</strong>
					</div>

				</div>




			</div>


		<div class="empty"></div>

		<div class="right-features"></div>
	</div>



</div>

{% endblock %}