{% extends 'base.html' %}

{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static '/css/hotel_details.css' %}">

<div class="main_content">
	<div class="wrapper">
    	<div class="hotel_banner">
	      <img src="{{ hotel.banner.url }}" alt = "Picture of this Hotel">
	    </div>
	    <h1>{{ hotel.name }}</h1>
	    <p>{{ hotel.description }}</p>
	    <p class="three"> {{ hotel.amount  }} CALL </p>
	    <p class="three">{{ hotel.amount }} MESSAGE </p>
	    <p class="three">{{ hotel.location }}</p>
    </div>
</div>


{% endblock %}
