{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/hotel.css' %}">

<div class="wrapper">
{% for hotel in hotel_list %}
	<div class="hotel">
		<div class="hotel_picture">
			<img src="{{ hotel.banner.url }}" alt = "Picture of this Hotel">
		</div>
		<div class="info">
			<h2> {{ hotel.name }} </h2>
				<div class="num_rooms">
					<p><span> {{ hotel.rooms_count }} </span>  Number of rooms</p>
					<p class="loc"> {{ hotel.location }} </p>
					<p><span>{{ hotel.parking_space }}</span>  Parking Spaces </p>
					<p><span>{{ hotel.shower }}</span>  Parking Spaces </p>
					<p class="details"><a href="{% url 'hotels:page' hotel.id %}"> Details </a> </p>
				</div>
		</div>
	</div>
	<hr/>
{% endfor %}
</div>

{% endblock %}
